<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.nelson.mot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application >
        <activity
            android:name=".legacy.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashThemeLight">
        </activity>
        <activity
            android:name=".legacy.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".legacy.activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".legacy.activity.ChooseCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".legacy.activity.CategoryContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".legacy.activity.ChooseCurrencyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />

        <provider
            android:name=".legacy.db.SQLiteContentProvider"
            android:authorities="dev.nelson.mot"
            android:exported="false"
            android:syncable="false" />

        <service android:name=".legacy.service.DataOperationService" />

    </application>

</manifest>